/* Navbar.css */

.nav-link {
  color: #ccc;
  transition: all 0.3s ease;
  font-weight: 500;
}

.nav-link:hover {
  color: #ffc107;
  text-decoration: underline;
}

.nav-link.active {
  color: #ffc107;
  font-weight: bold;
  border-bottom: 2px solid #ffc107;
}